<!-- index.ejs -->
<%- include('../partials/header/header.ejs'); %>
    <%- include('../partials/menu/menuG.ejs'); %>
        <div class="container mt-5">
            <div class="containerGame">
                <div class="game-ui">
                     
                </div>
            </div>

        </div>
       
<%- include('../partials/footer/footer.ejs'); %>