<!-- menu.ejs -->
<div class="hud-menu">
    <a href="#"><i class="bi bi-play-fill"></i> Jogo</a>
     <a href="#"><i class="bi bi-person-lines-fill"></i> Personagem</a> 
     <a href="#"><i class="bi bi-backpack-fill"></i> Mochila</a>
     <a href="#"><i class="bi bi-shop"></i> Loja</a> 
    <a href="#"><i class="bi bi-book"></i> Missões</a>
    <a href="#"><i class="bi bi-person-circle"></i> Perfil</a> 
    
</div>
