<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/navbar') %>
  <main>
    <%- body %>
  </main>
</body>
</html>