<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>Educação é Poder</h5>
                <p>Aprenda, cresça e explore!</p>
            </div>
            <div class="col-md-4">
                <h5>Links Úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Redes Sociais</h5>
                <a href="#" class="btn btn-outline-primary"><i class="bi bi-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-outline-info"><i class="bi bi-twitter"></i> Twitter</a>
                <a href="#" class="btn btn-outline-danger"><i class="bi bi-instagram"></i> Instagram</a>
            </div>
        </div>
        <hr>
        <p>&copy; 2025 SaberQuest. Todos os direitos reservados.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/script.js"></script> <!-- Referência ao JS -->
<script src="/js/saberQuest.js"></script>
</body>
</html>
